:host {
  text-align: center;
}
img {
  max-height: 500px;
  transition: opacity 500ms;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.fotos {
  position: relative;
  height: 500px;
}
